<div class="container">
    <%= render 'shared/header'%>
        <div class="new_customer">
                <h2>Please register for an account</h2>

                <% if flash[:errors] %>
                    <% flash[:errors].each do |e| %>
                        <p><%= e %></p>
                    <% end %>
                <% end %>

                <form action="/users" method="POST">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <div class="form-group">
                        <p><label>First Name:</label> <input type="text" name="user[first_name]" class="form-control"></p>
                    </div>
                    <div class="form-group">
                        <p><label> Last Name: </label><input type="text" name="user[last_name]" class="form-control"></p>
                    </div>
                    <div class="form-group">
                        <p><label>Email:</label> <input type="text" name="user[email]" class="form-control"></p>
                    </div>
                    <div class="form-group">
                        <p><label>Password:</label> <input type="password" name="user[password]" class="form-control"></p>
                    </div>
                    <div class="form-group">
                        <p><label>Password Confirmation:</label> <input type="password" name="user[password_confirmation]" class="form-control"></p>
                    </div>
                        <p><input type="submit" class="btn btn-primary" value="Join"></p>
                </form>
        </div>
</div>
