<div class="row" id="contact_info">
    <h4>
        <div class="col-md-4">&copy; 2017 Savvy Hero</div>
        <div class="col-md-4">RealSavvyHero@gmail.com</div>
        <div class="col-md-4">(818)599-5340</div></h4>

</div>
