<div id=“nav_bar”>
  <p>  <%= image_tag("logos/Logo.png", width: "250px", height: "300px") %> </p>
        <div id=“nav”>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="/media">Media</a></li>
            <li><a href="/blog">Blogs</a></li>
            <li><a href="/cart">Shopping Cart</a></li>
            <li><a href="/contact">Sign In</a> | <a href="/contact">Sign Up</a></h4>
                <li><form class=“search”>
                    <input type=“text” placeholder=“Search...” required>
                    <input type=“button” value=“Search”>
                </form></li>
            </ul>
        </div>
</div>
