div{
    outline: red dotted 1px;
}
/*#container{
    width: 1400px;
    height: 900px;
}*/
/*.row {
    display: inline-block;
}*/
/*.col-md-2 {
    display: inline-block;
    width: 175px;
}*/
/*.navbar{
    display: inline-block;
}*/
/*button{
    display: inline-block;
}*/
/*ul{
    list-style: none;
}
li{
    display: inline;
    padding-right: 25px;
}*/
/*.search{
    width: 320px;
    display: inline-block;
}*/
