#navs {
    margin-top: 10px;
    font-size: 25px;
}

#nav_link {
    margin-top: 42px;
}

#cart {
  text-align: right;
  font-family: 'Indulge Script';
  font-size: 15px;
}

a{
    color: black;
}

#contact_info{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
