@font-face {
    font-family: 'Indulge Script';
    src: url('/assets/Indulge_Script')
}
#contact_info {
  font-family: 'Indulge Script';
  font-size: 20px;
  margin-left: 305px;
  padding-left: 20px;
}

.row{
    font-family: 'Indulge Script';
    font-size: 20px;
    font-style: bold;
}
