// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#products {
    margin-top: 22px;
}

h1, h2{
  text-align: center;
}

.content{
    font-size: 18px;
    font-family: 'Open Sans Condensed';
}

#chocolate_covered, #cakepops, #macaroons, #cupcakes{
    text-align: center;
    padding-bottom: 10px;
}

.table{
    overflow-x: scroll;
    width: auto;
    display: inline-block;
}
