.menu{
  display: inline-block;
  width: 230px;
  height: 250px;
  margin: 30px;
  text-align: center;
}
h2{
  font-family: sans-serif;
  text-align: center;
}
form{
  padding-left: 50px;
}
span{
  padding: 20px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}
a{
  text-align: right;
}
