<div> <a href="/shoppin_cart" ><%= image_tag("icons/shopping_cart.png", width: "150px", height: "150px") %></a> <strong><%= @item %></strong> Item(s) in your cart! </div>
<div class="title">
  <h2>MENU</h2>
</div>

</div>
